@import 'variables';

body {
    min-height: 100vh;
    background-color: $bgFooter;
}


.titulos {
    color: $fontColor;
}

h1 {
    @extend .titulos;
    font-size: 60px;
}

h2 {
    @extend .titulos;
    font-size: 30px;
}

#lista {
    list-style: none;
}

nav {
    background-color: #b8f2f7;
}

footer {
    background-color: $bgFooter;
}

$mainStyle: (
    color: rgb(63, 199, 251),
    altura: 500px
);

main {
    background: map-get($mainStyle, color);
    background: radial-gradient(circle, rgba(63, 199, 251, 0.5802696078431373) 0%, rgba(235, 70, 252, 0.36738445378151263) 100%);
    min-height: map-get($mainStyle, altura);
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 20px;
    z-index: 100;
}

.btn-wsp:hover {
    filter: grayscale(50%);
}


#edad {
    width: 20rem;
}

@mixin ampliar {
    transition: $transicion;

    &:hover {
        transform: scale(1.1);
    }
}

.zoom {
    @include ampliar;
}

.color {
    filter: grayscale(100%);
    transition: $transicion;

    &:hover {
        filter: grayscale(0%);
    }
}

.entrada {
    animation: enterAnim 1s ease 0s 1 normal forwards;
}

$btnForm: (
    enviar: #55acee,
    limpiar: #40e764
);

@each $boton,
$color in $btnForm {
    .btn-#{$boton} {
        background-color: $color;
    }
}


@keyframes enterAnim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}